<aside class="col-md-3">
  <ul class="list-group">
    <a class="list-group-item {% if '/users/' == request.path %}active{% endif %}" href="{% url 'app_users:dashboard' %}"> Mi cuenta </a>
    <a class="list-group-item {% if '/my-orders/' in request.path %}active{% endif %}" href="{% url 'app_users:my_orders' %}"> Mis pedidos </a>
    <a class="list-group-item {% if '/edit-profile/' in request.path %}active{% endif %}" href="{% url 'app_users:edit_profile' %}"> Editar perfil </a>
    <a class="list-group-item {% if '/change-password/' in request.path %}active{% endif %}" href="{% url 'app_users:change_password' %}"> Cambiar contraseña </a>
  </ul>
  <br>
  <a class="btn btn-light btn-block" href="{% url 'app_users:logout' %}">
    <i class="fa fa-power-off"></i> <span class="text">Cerrar sesión</span>
  </a>
</aside>
